.header {
  max-width: 1440px;
  max-height: 118px;
  display: flex;
  justify-content: space-between;
  margin: 24px auto;
}
.logo-img img {
  width: 300px;
}
.menu ul,
.menu li {
  list-style: none;
}
.menu ul {
  display: flex;
}
.menu li a {
  color: #ebdb37;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-shadow: 1px 1px 1px #565656;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  border-bottom: 5px solid #565656;
}
.menu li a:hover,
.menu #active a {
  border-bottom: 5px solid #ebdb37;
  color: #565656;
  text-shadow: none;
}

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
  .menu li a {
    font-size: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
  .logo-img img,
  .menu {
    width: calc(100vw - 40px);
  }
}
