.about-us {
  max-width: 1040px;
  margin: 48px auto;
}
h1 {
  max-width: 1040px;
  text-align: center;
  margin-top: 64px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.store,
.person {
  display: flex;
  margin: 48px auto;
  align-items: center;
}
.store img,
.person img {
  border-radius: 30px;
  box-shadow: 0 0 6px 3px #565656;
}
.store p,
.person p {
  max-width: 500px;
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .about-us .store {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 80px);
  }
  .store img {
    width: 75%;
    margin: 25px;
  }
  .person {
    flex-direction: column;
  }
  .person p {
    text-align: center;
  }
  .person img {
    width: 50%;
    margin: 25px;
  }
}
@media screen and (max-width: 799px) {
  .about-us .store {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 40px);
  }
  .store img {
    width: calc(100vw - 40px);
    margin: 25px;
  }
  .person {
    flex-direction: column;
  }
  .person img {
    width: 50%;
    margin: 25px;
  }
  .person p {
    text-indent: 1rem;
    margin-left: 10px;
  }
}
